@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-img-container img{
        width: 100%;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blog-posts-container .post-container{
        max-width: 45%;
    }
}

@media(max-width: 600px){
    .home-main{
        grid-template-rows: 1fr 200px;
    }
    .home-main section {
        grid-template-rows: 1fr 200px;
        place-items: center;
    }
    .home-main-text{
        font-size: 3rem;
    }
    .blog-posts-container .post-container{
        max-width: 95%;
    }

    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}
@media(max-width: 433px){
    header{
        margin-bottom: 40px;
    }
    nav{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center center;
    }
    nav .nav-logo-container {
        margin-left: 0;
    }
    
    nav .profile-link {
        margin: 0;
    }
    nav .profile-link a{
        font-size: 1.2rem;
    }
    /* .home-main{
        grid-template-rows: 1fr 200px;
    }
    .home-main section {
        grid-template-rows: 1fr 200px;
        place-items: center;
    }
    .home-main-text{
        font-size: 3rem;
    } */
    .profile-main-container img{
        width: 200px;
    }
    .projects-main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
}
@media(max-height: 700px){
    .home-body{
        position: relative;
    }
}